.foto{
    background-image: url("../img/background/background-foto.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.margin{
    height:630px;
    margin-bottom: 100px;
}