@import url(../css/home.css);
@import url(../css/cdn.css);
@import url(../css/size.css);
@import url(../css/foto.css);


*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing:border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

section{
  padding: 100px 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
}